<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pray4me">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/prayingicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/prayingicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pray4Me"
        tools:targetApi="31">
        <activity
            android:name=".PrayRequestMainActivity5"
            android:exported="false" />
        <activity
            android:name=".CommunityResourceMainActivity6"
            android:exported="false" />
        <activity
            android:name=".prayerChainMainActivity5"
            android:exported="false" />
        <activity
            android:name=".PrayRequestMainActivity4"
            android:exported="false" />
        <activity
            android:name=".MenuMainActivity3"
            android:exported="false" />
        <activity
            android:name=".LogonMainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>